<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Contact
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openCreateModal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar debounce='1500' [(ngModel)]="searchValue" (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list *ngFor=' let item of items | slice:0:100'>
    <ion-item-sliding>
      <ion-item >
        <h2>
          {{item.name.givenName}}
        </h2>
        <p>
          {{item.phoneNumbers[0].value}}
        </p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="secondary" (click)="call(item.phoneNumbers[0].value)">
          <ion-icon name="md-call"></ion-icon>
          Call
        </button>
        <button ion-button color="danger" (click)="sendMail()">
          <ion-icon name="md-mail"></ion-icon>
          Mail
        </button>
        <button *ngIf="item.urls" ion-button color="primary" (click)="openInAppBrowser(item.urls[0].value)">
          <ion-icon name="md-link"></ion-icon>
          Link
        </button>
        <button ion-button color="primary" *ngIf="!item.urls"(click)="openInAppBrowser('https://ionicthemes.com/')">
          <ion-icon name="md-link"></ion-icon>
          Link
        </button>
      </ion-item-options>
    </ion-item-sliding>

</ion-list>

</ion-content>
