<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Contact
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openCreateModal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar debounce='1000' [(ngModel)]="searchValue" (ionInput)="searchItems($event)"></ion-searchbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-row>
        <ion-col  col-6>
          <h2 class="contact-name">{{item.name.formatted}}</h2>
          <p *ngIf="item.phoneNumbers">{{item.phoneNumbers[0].value}}</p>
        </ion-col>
        <ion-col  col-6>
          <button ion-button small color="secondary" (click)="call(item.phoneNumbers[0].value)">
            <ion-icon name="md-call"></ion-icon>
          </button>
          <button ion-button small color="danger" (click)="sendMail()">
            <ion-icon name="md-mail"></ion-icon>
          </button>
          <button ion-button  *ngIf="item.urls" small color="primary" (click)="openInAppBrowser(item.urls[0].value)">
            <ion-icon name="md-link"></ion-icon>
          </button>
          <button ion-button  *ngIf="!item.urls" small color="primary" (click)="openInAppBrowser('https://ionicthemes.com/')">
            <ion-icon name="md-link"></ion-icon>
          </button>
        </ion-col>
        <!-- <ion-col col-auto>
          <button ion-button small color="danger" (click)="sendMail()">
            <ion-icon name="md-mail"></ion-icon>

          </button>
        </ion-col>
        <ion-col *ngIf="item.urls"  col-auto>
          <button ion-button  small color="primary" (click)="openInAppBrowser(item.urls[0].value)">
            <ion-icon name="md-link"></ion-icon>

          </button>
        </ion-col>
        <ion-col *ngIf="!item.urls" col-auto>
          <button ion-button  small color="primary" (click)="openInAppBrowser('https://ionicthemes.com/')">
            <ion-icon name="md-link"></ion-icon>

          </button>
        </ion-col> -->
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="getMoreResults($event)">
    <ion-infinite-scroll-content
       loadingSpinner="bubbles"
       loadingText="Loading more data...">
     </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
